meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Acciones de mejora
meta(meta name="description" content="Toda empresa debe mejorar continuamente en la idoneidad, adecuación y eficacia en el desarrollo de sus procesos. En la unidad productiva agrícola una vez implementadas las acciones de buenas prácticas agrícolas, se debe considerar los resultados del análisis y la evaluación junto con las salidas de la revisión realizada por la gerencia y el ente de control, para determinar si hay necesidades u oportunidades que deben tratarse como mejora continua.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")