h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 22060107001-1.] Identificar los recursos físicos, humanos y documentales requeridos para la implementación de buenas prácticas agrícolas según normativa.