h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 220601070-04.] Ajustar documentación de acuerdo con verificación y normativa.