.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Agencia Nacional de Evaluación de la Calidad y Acreditación, Plan De Mejoras - Herramienta De Trabajo 		
                    td Otro	
                    td 
                        a(href="http://www.uantof.cl/public/docs/universidad/direccion_docente/15_elaboracion_plan_de_mejoras.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 


                tr
                    td Villavicencio, D. X. P., Soler, V. G., & Bernabéu, E. P. (2017). Metodología para elaborar un plan de mejora continua. 3c Empresa: investigación y pensamiento crítico, (1), 50-56.		
                    td Articulo 	
                    td 
                        a(href="https://www.3ciencias.com/wp-content/uploads/2018/01/art_6.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 


                tr
                    td Sistema de Gestión de la Calidad, ISO 9001 versión 2015. 		
                    td Otro	
                    td 
                        a(href="http://bdigital.sena.edu.co/login?url=https://ecollection.icontec.org/colacc.aspx?Q=4A5495A18C9FA17194F13CCACBF02A1D.", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar 

