include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Buenas Prácticas Agrícolas
        meta(meta name="description" content="Ruta de aprendizaje programa Buenas Prácticas Agrícolas.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Buenas Prácticas Agrícolas
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Buenas Prácticas Agrícolas
                                        li 
                                            span #[strong Código:] 73340241
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Cumplir con el trámite de selección definido por el centro. 

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAttOSxoYdc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Apreciado aprendiz, una cordial bienvenida a este curso y se invita a la apropiación de conocimientos para validar la trazabilidad de un producto en el marco de las buenas prácticas agrícolas.

                p Este curso le permitirá desarrollar habilidades al productor al fortalecer sus competencias y conocimientos para la incorporación de Buenas Prácticas Agrícolas (BPA) en unidades productivas, integrando aspectos de seguridad y salud en el trabajo, inocuidad y calidad de los alimentos, permitiendo diferenciar su producto de los demás oferentes.

                p Las BPA consideradas como el conjunto de principios, normas y recomendaciones técnicas aplicables a la producción, procesamiento y transporte de alimentos, se convertirán en las herramientas para la implementación de procesos productivos agrícolas de calidad y competitivos con las exigencias del mercado.

                p A través de la aplicación de Buenas Prácticas Agrícolas (BPA) en los procesos de siembra, cosecha y postcosecha de los cultivos se podrá producir de forma sana, segura, amigable con el medio ambiente y económicamente viable. 


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La agricultura colombiana es un importante renglón de la economía, en el año 2019 cerca del 16% de los trabajos formales estaban relacionadas con la agricultura (DANE). Por otra parte, en el primer trimestre del año 2020, mientras la mayoría de los sectores económicos disminuyó su contribución al Producto Interno Bruto (PIB), la agricultura llego al 6,8%, ayudando a mitigar los efectos económicos producidos por la actual pandemia originada por el Covid-19. Estos datos ratifican el potencial agrícola del país, como lo sugiere la Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO, 2019) al catalogar a Colombia como uno de los siete países con potencial para ser despensa agrícola.
                
                p En este contexto, las Buenas Prácticas Agrícolas (BPA) permiten al productor rural diferenciar su producto de los demás oferentes, al mejorar sus precios, acceder a nuevos mercados y consolidar los actuales. Según la FAO (2004) estas: “(…) permiten estar preparado para exportar a mercados exigentes con mejores oportunidades y precios; en el futuro próximo, probablemente se transforme en una exigencia para acceder a dichos mercados”. También, el primer pilar de la política definida por el Ministerio de Agricultura y Desarrollo Rural: Productividad + Rentabilidad = Competitividad, reconoce estas como un elemento esencial para cumplir el objetivo de: “fortalecer la articulación en los diferentes eslabones de las cadenas agropecuarias para mejorar la competitividad, fundamentada en el ordenamiento de la producción”. Por lo tanto, formarse en BPA es indispensable para vincularse al campo laboral, ya que de su implementación depende la entrada de los productos agropecuarios a los mercados de creciente exigencia en calidad, ya sean estos externos o locales.
                
                p Adicionalmente, las BPA, al integrar aspectos de seguridad y salud en el trabajo, permiten que las actividades productivas agrícolas, se enfoquen   a la inocuidad y calidad de los alimentos, así como al bienestar de los agricultores; en razón a lo cual su conocimiento y aplicación son esenciales en las ocupaciones agrícolas. Desarrollar este programa de formación le permitirá fortalecer sus competencias y contar con conocimientos, herramientas y técnicas para su incorporación en unidades productivas.
                
                p En respuesta a los requerimientos y desafíos del sector productivo el Servicio Nacional de Aprendizaje SENA, cuya formación se caracteriza por su componente práctico y el uso de estrategias didácticas activas, ofrece este programa de formación dirigido a todas aquellas personas involucradas con el desarrollo del agro colombiano, interesadas en adquirir o complementar sus conocimientos sobre la normativa aplicada a las BPA y el proceso de documentación.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Dirigido al personal que labora en el sector agrícola y aprendices con estudios en el área agrícola. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:
 

                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





